<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410150783485-4mgthuh3fmer58lb3kd2bh2183fnedlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410150783485-4mgthuh3fmer58lb3kd2bh2183fnedlf</string>
	<key>API_KEY</key>
	<string>AIzaSyCegx9sU9pHC1rYoEQ5gAK8fDvigdjVEmw</string>
	<key>GCM_SENDER_ID</key>
	<string>410150783485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-81fed</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-81fed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410150783485:ios:3d9048ad3ebf6565673194</string>
</dict>
</plist>